<section>
  <h1>扫描微信公众帐号</h1>
  <p><img src="/images/profile.png"></p>
  <p>擅长C/C++, Objective_C, 熟悉java/erlang/php/python/javascript/lua</p>
  <p>研究软件安全技术</p> 
  <p>爱好音乐，喜欢安静思考，喜欢挑战</p>
  <a href="https://github.com/ondev"><img src="http://ww3.sinaimg.cn/large/6bf526ffgw1edccbnpos6j201c01cq2p.jpg" width="48px" height="48px"></a>
  <a href="mailto:topgifts@163.com"><img src="http://ww4.sinaimg.cn/large/6bf526ffgw1edccbys9f6j201c01cgld.jpg" width="48px" height="48px"></a>
  <a href="/atom.xml"><img src="http://ww2.sinaimg.cn/large/6bf526ffgw1edcccjezq1j201c01cq2p.jpg" width="48px" height="48px"></a>
  <li class="post">
 	 <a href="http://webscan.360.cn/index/checkwebsite/url/www.ifun.cc"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/92801c8d564b12eec8759b3f4bff4911"/></a>
  </li>
</section>
